* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0e0f13;
  color: white;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #12141a;
}

.navbar a {
  color: #ccc;
  margin: 0 15px;
  text-decoration: none;
}

.navbar a:hover {
  color: #00ff9d;
}

.logo {
  color: #00ff9d;
}

.btn-primary {
  background: #00ff9d;
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  cursor: pointer;
}


/* Hero Section */

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 60px;
  align-items: center;
}

.hero-text h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

.hero-text p {
  color: #aaa;
  margin-bottom: 25px;
}

.search-box {
  display: flex;
}

.search-box input {
  padding: 10px;
  width: 250px;
  border: none;
  outline: none;
}

.search-box button {
  background: #00ff9d;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.hero-image img {
  width: 100%;
  border-radius: 12px;
}


/* Services */

.services {
  padding: 60px;
  text-align: center;
}

.services h2 {
  margin-bottom: 30px;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.card {
  background: #181b23;
  padding: 25px;
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  background: #1f2430;
}

.card img {
  width: 60px;
  margin-bottom: 10px;
}


/* Stats */

.stats {
  background: #12141a;
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

.stat h2 {
  color: #00ff9d;
}


/* Footer */

footer {
  text-align: center;
  padding: 20px;
  background: #0a0b0f;
  color: #777;
}


/* Responsive */

@media (max-width: 900px) {

  .hero {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .service-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .stats {
    flex-direction: column;
    gap: 20px;
  }

  .navbar {
    flex-direction: column;
    gap: 15px;
  }
}

